*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(241, 241, 241);
}
.navbar{
    background-color: white;
    height: 65px;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
.options{
    padding-top: 15px;
    cursor: pointer;
    font-weight: bold;
}
li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-size: 24px;
}
button{
    height: 40px;
    width: 100px;
    margin-right: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #0043ff8c;
}
.container1{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 20px;
}
.container2{
    background-color: white;
    height: 180px;
    width: 80vw;
    border-radius: 10px;
    margin-left: 120px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    box-shadow: 3px 3px 8px rgb(167, 167, 167);
}
label{
    margin-left: 80px;
    font-weight: bold;
}
#search{
    margin-left: 80px;
    margin-top: 20px;
    width: 120px;
    margin-right: 10px;
    border-radius: 5px;
    height: 25px;
    border: 0.5px solid black;
}
.searchCar{
    margin-right: 10px;
}
.container3{
    margin-top: 100px;
}
.cards{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.car{
    height: 400px;
    border: 1px solid rgb(166, 165, 165);
    width: 400px;
    margin-left: 20px;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#booknow{
    font-size: 18px;
    margin-top: -32px;
}
#booknow:hover{
    background-color: green;
    cursor: pointer;
    border: none;
}
#viewAll{
    margin-left: 47%;
    border: 1px solid gray;
    background-color: rgb(228, 226, 226);
    border-radius: 20px;
    cursor: pointer;
}
.container4{
    margin-top: 50px
}
.reason{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 20px;
}
.rightReason{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.achi{
    height: 150px;
    width: 300px;
    padding-top: 4%;
    text-align: center;
    margin-right: 20px;
    box-shadow: 3px 3px 8px rgb(167, 167, 167);
}
.container5{
    margin-top: 40px;
}
.belowCards{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-top: 20px;
}
.container6{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20px;
    background-image: linear-gradient(45deg, #17c5be, #1c243a);
    border-radius: 10px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 253, 253);
}
#footOpts{
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}